<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
    <head>
        {% block meta %}<meta charset="UTF-8" />
        <meta name="robots" content="noindex,nofollow" />
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div id="doc" class="yui-t7">
        {% block languages %}
        {% endblock %}
        {% block content %}
        {% endblock %}
            <div id="ft">
                {% include '::footer.html.twig' %}
            </div>
        </div>
        {% endblock %}
        {% block inline_javascripts %}{% endblock %}
    </body>
</html>
