<IfModule mod_env.c>

    SetEnv APPLICATION_ENV dev
    
</IfModule>

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>
